.menu-section {
  margin-top: 50px;

  .menu-section__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 20px auto;

      .active {
        text-decoration: underline;
      }
    }
  }
}
