.avatar-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;

  .avatar-section__avatar {
    width: 50%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
  }

  .avatar-section__name {
    font-weight: normal;
    font-size: 1.5rem;
    margin: 20px 0 15px;
  }

  .avatar-section__position {
    font-weight: normal;
    font-size: 1.2rem;
    margin: 0 0 15px 0;
  }

  .avatar-section__location {
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .avatar-section {
    width: 100%;
    align-items: center;
  }
}
