.app-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-areas:
    "nav-section main-section main-section main-section main-section main-section";
  margin: 0 40px;

  .nav-section {
    grid-area: nav-section;
    margin-top: 40px;
  }

  .main-section {
    grid-area: main-section;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .app-wrapper {
    grid-template-areas:
      "nav-section nav-section nav-section nav-section nav-section nav-section"
      "main-section main-section main-section main-section main-section main-section";
  }
}

