.app-wrapper {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "nav-section main-section";
  margin: 0 80px;

  .nav-section {
    grid-area: nav-section;
    margin-top: 50px;
  }

  .main-section {
    grid-area: main-section;
    margin: 50px 0;
  }
}

@media only screen and (max-width: 767px) {
  .app-wrapper {
    grid-template-columns: auto;
    grid-template-areas:
      "nav-section"
      "main-section";
    margin: 0 40px;

    .main-section {
      margin: 10px 0 40px;
    }
  }
}

