.project-info {
  h2 {
    font-size: 1.5rem;
    font-weight: normal;
    text-decoration: underline;
  }

  a {
    font-weight: 700;
  }

  figure {
    margin: 0;

    figcaption {
      margin-bottom: 5px;
    }

    img {
      border: 1px solid;
    }
  }

  h3 {
    font-size: 1.4rem;
    font-weight: normal;
  }

  .features {
    margin: 30px 0;

    ul {
      padding-left: 30px;

      li {
        margin: 10px 0;
      }
    }
  }

  .stack {
    margin: 30px 0;

    ul {
      padding-left: 30px;

      li {
        margin: 10px 0;

        .stack__feature {
          display: flex;
          align-items: center;

          img {
            margin-left: 10px;
          }
        }
      }
    }
  }

  .back {
    display: inline-block;
    margin-top: 50px;
    font-weight: 400;
  }
}
